/* App.css or Feedback.css */

.feedback-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

@media (min-width: 768px) {
  .feedback-page {
    flex-direction: row;
    align-items: flex-start;
  }
}
