/* Setting.css */

.settings-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-container {
  width: 400px;
  height: 400px;
}

.settings-container[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --heading-color: #1e3a8a;
  --input-bg-color: #f9f9f9;
  --border-color: #d1d5db;
  --button-bg-color: #3b82f6;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #1e40af;
}

.settings-container[data-theme="dark"] {
  --bg-color: linear-gradient(135deg, #526aae 0%, #93bbfa 100%);
  --text-color: #ffffff;
  --heading-color: #f0f4ff;
  --input-bg-color: #374151;
  --border-color: #4b5563;
  --button-bg-color: #6c8adf;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #506c9f;
}

.settings-container[data-theme="system"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --heading-color: #1e3a8a;
  --input-bg-color: #f9f9f9;
  --border-color: #d1d5db;
  --button-bg-color: #132e58;
  --button-text-color: #ffffff;
  --button-hover-bg-color: #d8dbe3;
}

.settings-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 24px;
  box-shadow: 0 0 10px rgba(0.1, 0, 0, 0.1);
  border-radius: 12px;
  max-width: 100%;
  margin: auto;
}

.settings-container h2 {
  color: var(--heading-color);
}

.settings-container input,
.settings-container select {
  background-color: var(--input-bg-color);
  border-color: var(--border-color);
  width: 100%;
  margin-bottom: 1rem;
}

.settings-container button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  width: 100%;
}

.settings-container button:hover {
  background-color: var(--button-hover-bg-color);
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .settings-container {
    max-width: 75%;
  }
}

@media (min-width: 1024px) {
  .settings-container {
    max-width: 60%;
  }
}
